## Bytecode + Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

## ZIP files + notebooks
*.zip
*.ipynb

## Virtual environment
venv/

## Secrets
.env

## Git
.git/
.gitignore

## Runtime folders
logs/
chroma_db/
documents/

## Additional folders
sample_documents/
screenshots/

## Markdown files
README.md

## Experimental/old code
extra.py
main.py
old_logger_*.py
sample_streamlit_*.py
